.wrapper{
    display: flex;
    flex-flow: column;

}
body{
    background-color: #E5E7E9 ;
    display: flex;
    justify-content: center;
}

.calcul{
    background-color: white;
    min-height: 7vh;
    width: 100%;
}
.grid_container{
    display: grid;
    grid-template-columns:repeat(6,1fr);
}

.egal {
    grid-column: 5/span 2;
    background-color: limegreen;

}
.historique{
    min-height: 10vh;
}

button{
    border-radius: 5px;
    padding-left: 13px;
    padding-right:13px ;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: thin;
    margin: 2vh;

}

